<div class="main-theme container py-5">
  <div class="mx-auto">
    <h5 class="ml-2">いいね一覧</h5>

    <div class="row">
      <div class="col-md-9">
        <ul class="row ml-2" style="list-style: none;">
          <% if @favorites.exists? %>
            <% @favorites.each do |favorite| %>
              <li class="mr-1 sentence" style="max-width: 150px;">
                <div>
                  <%= link_to bread_path(favorite.bread.id), class:"text-dark" do %>
                    <%= image_tag favorite.bread.get_bread_image(150, 150) %><br>
                    <%= favorite.bread.bread_name %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% else %>
            <p>いいねした投稿はありません</p>
            <p><%= link_to "投稿を見に行く", root_path, class:"ml-5 btn btn-sm btn-outline-secondary" %></p>
          <% end %>
        </ul>
      </div>

      <div class="d-flex justify-content-center">
        <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>

  </div>
</div>