<div class="container py-5" style="background-color: #fff7e6">

  <h5 class="ml-5">いいね一覧</h5>

  <div>
    <ul class="row ml-5" style="list-style: none;">
      <% if @favorites.exists? %>
        <% @favorites.each do |favorite| %>
          <li class="mr-1">
            <%= link_to bread_path(favorite.bread.id) do %>
              <%= image_tag favorite.bread.get_bread_image(200, 200) %><br>
            <% end %>
            <%= favorite.bread.bread_name %>
          </li>
        <% end %>
      <% else %>
        <p>いいねした投稿はありません</p>
        <p><%= link_to "投稿を見に行く", root_path, class:"ml-5 btn btn-sm btn-outline-secondary" %></p>
      <% end %>
    </ul>
  </div>

        <%= paginate @favorites %>


</div>