<div class="container mt-5">
  <div class="col-md-6 mx-auto">

    <h3>ショップ編集</h3>
    <%= form_with model: @shop, url: admin_shop_path do |f| %>
      <%= f.label :店名 %><br>
      <%= f.text_field :shop_name, class:'form-control' %><br>
      <%= f.label :アクセス %><br>
      <%= f.text_field :postcode, placeholder:"〒0000000" %><br>
      <%= f.text_area :address, class:'mt-2 form-control', placeholder:"京都府京都市OO…" %><br>
      <%= f.label :最寄り駅 %><br>
      <%= f.text_field :nearest_station, class:'form-control' %><br>
      <%= f.label :ホームページ %><br>
      <%= f.text_field :shop_url, class:'form-control' %><br>
      <%= f.label :オンライン %><br>
      <%= f.text_field :online_url, class:'form-control' %><br>

      <%= f.submit "更新する", class:"btn btn-secondary mt-3" %>
    <% end %>
  </div>
</div>