<div class="container mt-4 mx-auto">
  <div class="col-md-12">

    <%= flash[:notice] %>

    <h5>登録ショップ一覧</h5>
    <p>
      <%= link_to "ショップ新規登録", new_admin_shop_path, class:"btn btn-sm btn-secondary mt-3" %>
    </p>

    <table class="table">
      <tr>
        <th>店名</th>
        <!--<th>郵便番号</th>-->
        <th>住所</th>
        <!--<th>最寄り駅</th>-->
        <th>ホームページ</th>
        <th>登録日</th>
        <!--<th>online</td>-->
        <td></td>
        <td></td>
      </tr>

      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.shop_name %></td>
          <%#= shop.postcode %>
          <td><%= shop.address %></td>
          <%#= shop.nearest_station %>
          <td><%= shop.shop_url %></td>

          <!--<td>-->
            <%# if shop.online_url.present? %>
              <%#= shop.online_url %>
            <%# end %>
          <!--</td>-->

          <td><%= shop.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to "詳細", admin_shop_path(shop.id), class:"btn btn-sm btn-outline-secondary" %></td>
          <td><%= link_to "編集", edit_admin_shop_path(shop.id), class:"btn btn-sm btn-outline-secondary" %></td>
          <td><%= link_to "削除", admin_shop_path(shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-outline-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>