<div class="main-theme container py-5">

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-md-6">
      <h4 class="ml-3"><%= @shop.shop_name %></h4>
    </div>
  </div>

  <dl class="row col-md-8">
    <dd class="col-sm-3 border-bottom pb-2">登録ID</dd>
    <dd class="col-sm-9 border-bottom pb-2"><%= @shop.id %></dd>
    <dd class="col-sm-3 border-bottom pb-2">住所</dd>
    <dd class="col-sm-9 border-bottom pb-2">
      〒<%= @shop.postcode %><br>
      <%= @shop.address %>
    </dd>
    <dd class="col-sm-3 border-bottom pb-2">最寄り駅</dd>
    <dd class="col-sm-9 border-bottom pb-2"><%= @shop.nearest_station %></dd>
    <dd class="col-sm-3 border-bottom pb-2">公式リンク</dd>
    <dd class="col-sm-9 border-bottom pb-2"><%= Rinku.auto_link(@shop.shop_url, :all, 'target="_blank"').html_safe %></dd>
    <dd class="col-sm-3 border-bottom pb-2">オンラインショップ</dd>
    <dd class="col-sm-9 border-bottom pb-2"><%= Rinku.auto_link(@shop.online_url, :all, 'target="_blank"').html_safe %></dd>
    <dd class="col-sm-3 border-bottom pb-2">登録日</td>
    <dd class="col-sm-9 border-bottom pb-2"><%= @shop.created_at.strftime('%Y/%m/%d') %></dd>
  </dl>

  <div class="col-md-4">
    <td><%= link_to "ショップ一覧", admin_shops_path, class:"mr-4 btn btn-warning btn-sm" %></td>
    <td><%= link_to "編集", edit_admin_shop_path(@shop.id), class:"btn btn-sm btn-outline-secondary" %></td>
    <td><%= link_to "削除", admin_shop_path(@shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-outline-danger" %></td>
  </div>

  <div class="row mt-5 ml-1">
    <h5><%= @shop.shop_name %> のパン一覧<h5>
  </div>

  <div>
    <ul class="row ml-1" style="list-style: none;">
      <% @breads.each do |bread| %>
        <li class="mr-1" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;">
          <%= link_to admin_bread_path(bread.id) do %>
            <div><%= image_tag bread.get_bread_image(100, 100) %></div>
            <p style="color: black;"><%= bread.bread_name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="d-flex justify-content-center">
      <%= paginate @breads, theme: 'twitter-bootstrap-4' %>
    </div>


  </div>

</div>


