<div class="container pt-5 mx-auto">

  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h4><%= @shop.shop_name %></h4>

  <div class="row">
    <div class="col-md-8 mt-1">
      <table>
        <tr>
          <td class="py-2 mr-5">登録ID</td>
          <td class="pl-4"><%= @shop.id %></td>
        </tr>
        <tr>
          <td class="py-2">店名</td>
          <td class="pl-4"><%= @shop.shop_name %></td>
        </tr>
        <tr>
          <td class="py-2">郵便番号</td>
          <td class="pl-4">〒<%= @shop.postcode %></td>
        </tr>
        <tr>
          <td class="py-2">住所</td>
          <td class="pl-4"><%= @shop.address %></td>
        </tr>
        <tr>
          <td class="py-2">最寄り駅</td>
          <td class="pl-4"><%= @shop.nearest_station %></td>
        </tr>
        <tr>
          <td class="py-2">公式リンク</td>
          <td class="pl-4"><%= @shop.shop_url %></td>
        </tr>
        <tr>
          <td class="py-2">オンラインショップ</td>
          <td class="pl-4"><%= @shop.online_url %></td>
        </tr>
        <tr>
          <td class="py-2">登録日</td>
          <td class="pl-4"><%= @shop.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-4">
      <td><%= link_to "ショップ一覧へ", admin_shops_path, class:"mr-4 btn btn-outline-primary btn-sm" %></td>
      <td><%= link_to "編集", edit_admin_shop_path(@shop.id), class:"btn btn-sm btn-outline-secondary" %></td>
      <td><%= link_to "削除", admin_shop_path(@shop.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-outline-danger" %></td>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-8">
      <h5><%= @shop.shop_name %> のパン一覧<h5>
    </div>
  </div>

  <div>
    <ul class="row" style="list-style: none;">
      <% @breads.each do |bread| %>
        <li class="mr-1" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;">
          <%= link_to admin_bread_path(bread.id) do %>
            <div><%= image_tag bread.get_bread_image(100, 100) %></div>
            <p style="color: black;"><%= bread.bread_name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>


