<div class="container mt-4 mx-auto">
  <div class="col-md-12 mx-auto">

  <%= flash[:notice] %>

  <h5 class="mb-3">Drinkアイコン一覧</h5>

  <div class="row">

    <div class="col-4">
      <div style="display: flex; align-items: center;"class="mt-3">
        <h1><i class="fa-solid fa-mug-saucer" style="color: #240a0a;"></i></h1>
        <h5 class="ml-3 ">コーヒー</h5>
      </div>
      <div style="display: flex; align-items: center;">
        <h1><i class="fa-solid fa-mug-saucer" style="color: #d70f0f;"></i></h1>
        <h5 class="ml-3">紅茶</h5>
      </div>
      <div style="display: flex; align-items: center;">
        <h1><i class="fa-solid fa-mug-saucer" style="color: #3fabd9;"></i></h1>
        <h5 class="ml-3">牛乳</h5>
      </div>
      <div style="display: flex; align-items: center;">
        <h1><i class="fa-solid fa-mug-saucer" style="color: #239c21;"></i></h1>
        <h5 class="ml-3">お茶</h5>
      </div>
    </div>

    <div class="col-5">
      <p>Othersの選択肢を増やす</p>
      <h1><i class="fa-solid fa-mug-saucer" style="color: #f9f110;"></i></h1>

      <%= form_with model: @drink, url: admin_drinks_path, method: :post do |f| %>
        <%= f.text_field :drink_name, class:"form-group" %>
        <%= f.submit "登録する", class:"btn btn-sm btn-secondary" %>
      <% end %>

    <% @drinks.each do |drink| %>
      <p class="mt-3">
        <%= link_to "✕", admin_drink_path(drink), method: :delete, class:"btn btn-sm btn-outline-danger" %>
        <%= drink.drink_name %>
      </p>

    <% end %>
    </div>


  </div>
</div>