<div class="main-theme container py-5 text-center">
  <div class="col-md-8 mx-auto">
    <h5>ご意見箱</h5>

    <p>ユーザーネーム：<%= current_user.name %></p>
    <%= form_with model: @feedback do |f| %>
      <%= f.label :ご意見 %>
      <%= f.text_area :opinion, rows: 5, class:'form-control' %>
      <%= f.submit "送信する", class:"mt-4 btn btn-outline-secondary" %>
    <% end %>

  </div>
</div>


