<div class="main-theme container py-5 d-flex justify-content-center pt-5">
  <div class="col-md-6 mx-auto">

  <h5 class="mb-4">アカウント情報の編集</h5>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "user/shared/error_messages", resource: resource %>

    <div class="field input-group mb-4">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
      <%= f.email_field :email, class: "form-control", placeholder: "新しいEmail", autofocus: true, autocomplete: "email", aria: {label: "Username"}, input_html: {aria_describedby: "basic-addon1"} %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <em><%= @minimum_password_length %> characters minimum</em>

    <div class="field input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
      <%= f.password_field :password, class: "form-control", placeholder: "新しいパスワード(変更しない場合は空白のままにしてください)", autocomplete: "new-password", aria: {label: "Password"}, input_html: {autocomplete: "new-password", aria_describedby: "basic-addon1"} %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div class="field input-group mb-3">
      <span class="input-group-text" id="basic-addon2"><i class="fas fa-key"></i></span>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認用パスワード", autocomplete: "new-password", aria: {label: "Confirm Password"}, input_html: {aria_describedby: "basic-addon2"} %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:"mt-3 btn btn-sm btn-secondary" %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= link_to "Back", user_path(@user.id) %><br>
  </div>
  <%= link_to "退会について", users_check_path, class:"mt-3 btn btn-sm btn-outline-danger" %>


  </div>
</div>