<div class="container pt-5">


  <div class="row">
    <div class="col-md-12 mx-auto">

      <div class="alert alert-secondary" role="alert">
        <%= flash[:notice] %>
      </div>

      <h5>特集一覧</h5>
      <p><%= link_to "特集新規登録", new_admin_topic_path, class:"btn btn-sm btn-secondary mt-3" %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table">
        <tr>
          <th>タイトル</th>
          <th>作成日</th>
          <th></th>
          <th></th>
        </tr>

        <% @topics.each do |topic| %>
          <tr>
            <td>
              <%= link_to admin_topic_path(topic.id) do %>
                <%= topic.title %>
              <% end %>
            </td>
            <td><%= topic.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>