<div class="container py-5" style="background-color: #fff7e6">
  <div class="col-md-8 mx-auto">

    <h5 class="mb-4">特集新規登録</h5>

    <%= render 'layouts/errors', obj: @topic %>

    <%= form_with model: @topic, url: admin_topics_path do |f| %>
      <%= f.label :タイトル %><br>
      <%= f.text_field :title, class:'form-control', placeholder: "*25文字以内" %><br>
      <%= f.label :本文 %><br>
      <%= f.text_area :body, rows: 16, class:'form-control' %><br>

      <%= f.file_field :bread_image %><br>

      <%= f.submit "特集を保存する", class:"btn btn-secondary mt-3" %>
    <% end %>

    <p><%= link_to "特集一覧ページ", admin_topics_path, class:"mt-5 btn btn-sm btn-outline-secondary" %></p>

  </div>
</div>