<!--特集詳細ページ-->
<div class="container pt-5">
  <div class="col-md-8 mx-auto">

    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>

    <h4 class="mb-3"><%= @topic.title %></h4>
    <p><%= @topic.body %></p>
    <%= image_tag @topic.get_bread_image(200, 200), class:"mx-auto d-block" %>
    <div class="mt-5">
      <span><%= link_to "特集一覧ページ", admin_topics_path, class:"btn btn-sm btn-outline-secondary" %></span>
      <span><%= link_to "編集", edit_admin_topic_path(@topic.id), class:"ml-5 btn btn-sm btn-secondary" %></span>
      <span><%= link_to "削除", admin_topic_path(@topic.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"ml-2 btn btn-sm btn-danger" %></span>
    </div>

  </div>
</div>