<div class="main-theme container py-5">

  <div class="row">
    <div class="col-md-12">
      <h5>解決済みご意見一覧
        <%= link_to "未解決", admin_feedbacks_path, class:"mb-2 ml-2 btn btn-sm btn-warning" %>
      </h5>
    </div>
  </div>

  <table class="table">
    <% if @feedbacks.exists? %>
      <% @feedbacks.each do |feedback| %>
        <% if feedback.is_solved == true %>
          <tr>
            <td>No.<%= feedback.id %></td>
            <td class="sentence" style="max-width: 150px;">
              <%= link_to admin_feedback_path(feedback.id) do %>
                <%= feedback.opinion %>
              <% end %>
            </td>
            <td style="font-size: 12px;">
              <%= link_to admin_user_path(feedback.user.id) do %>
                <%= feedback.user.name %><br>
              <% end %>
              <%= feedback.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>

  <div class="d-flex justify-content-center pb-3">
    <%= paginate @feedbacks, theme: 'twitter-bootstrap-4' %>
  </div>

</div>