<div class="main-theme container py-5">

  <div class="row">
    <div class="col-md-12">
      <h5>解決済みご意見一覧</h5>
      <%= link_to "未解決", admin_feedbacks_path, class:"btn btn-sm btn-warning" %>
    </div>
  </div>

  <table class="table">
    <tr>
      <th>No</th>
      <th>ご意見</th>
      <th>ユーザーネーム</th>
      <th>投函日</th>
    </tr>

    <% @feedbacks.each do |feedback| %>
      <% if feedback.is_solved == true %>
        <tr>
          <td><%= feedback.id %></td>
          <td class="sentence" style="max-width: 150px;">
            <%= link_to admin_feedback_path(feedback.id) do %>
              <%= feedback.opinion %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(feedback.user.id) do %>
              <%= feedback.user.name %>
            <% end %>
          </td>
          <td><%= feedback.created_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="d-flex justify-content-center pb-3">
    <%= paginate @feedbacks, theme: 'twitter-bootstrap-4' %>
  </div>

</div>