<div class="container mt-4 mx-auto">
  <div class="col-md-12">
    <h4 class="mr-5"><%= @shop.shop_name %></h4>
  </div>

  <div class="row">
    <div class="col-md-8 mt-4">
      <table>
        <tr>
          <td class="py-2 mr-5">登録ID</td>
          <td class="pl-4"><%= @shop.id %></td>
        </tr>
        <tr>
          <td class="py-2">店名</td>
          <td class="pl-4"><%= @shop.shop_name %></td>
        </tr>
        <tr>
          <td class="py-2">郵便番号</td>
          <td class="pl-4">〒<%= @shop.postcode %></td>
        </tr>
        <tr>
          <td class="py-2">住所</td>
          <td class="pl-4"><%= @shop.address %></td>
        </tr>
        <tr>
          <td class="py-2">ホームページ</td>
          <td class="pl-4"><%= @shop.shop_url %></td>
        </tr>
        <tr>
          <td class="py-2">オンラインショップ</td>
          <td class="pl-4"><%= @shop.online_url %></td>
        </tr>
        <tr>
          <td class="py-2">登録日</td>
          <td class="pl-4"><%= @shop.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
      </table>
    </div>
  </div>

  <h5 class="row mt-5">
    <%= @shop.shop_name %> のパン一覧
  </h5>
  <div>
    <ul class="row" style="list-style: none;">
      <% @breads.each do |bread| %>
        <li class="mr-1">
          <%= link_to bread_path(bread.id) do %>
            <div><%= image_tag bread.get_bread_image(220, 220) %></div>
            <p style="color: black;"><%= bread.bread_name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <span><%= link_to "ショップ一覧に戻る", shops_path, class:"btn btn-outline-primary btn-sm" %></span>


</div>