    <!--user/breads/new & showで使用しているパン投稿フォーム-->

    <%= render 'layouts/errors', obj: bread %>

    <%= form_with model: bread do |f| %>
      <%= f.label :パン写真 %><br>
      <%= f.file_field :bread_image %><br>
      <%= f.label :パン名, class:"mt-4" %>
      <%= f.text_field :bread_name, class:'form-control' %>

      <%= f.radio_button :taste, :true %>
      <%= f.label :甘い系 %>
      <%= f.radio_button :taste, :false, class:"ml-3" %>
      <%= f.label :塩味系 %><br>

      <%= f.label :紹介, class:"mt-2" %>
      <%= f.text_area :introduce, rows: 5, class:'form-control', placeholder: "味や感想を教えて！" %>

      <%= f.label :一緒に飲むなら？, class:"mt-4" %><br>
      <!--seed.rbで設定済みのデフォルトドリンク4種-->
      <% Drink.default.each do |drink| %>
        <span class="mr-4">
          <%= f.radio_button :drink_name, drink.id %>
          <% case drink.drink_name
          when "コーヒー" %>
            #
          <% when "紅茶" %>
            #
          <% when "牛乳" %>
            #
          <% when "お茶" %>
            #
          <% end %>
          <%= f.label :drink_name, drink.drink_name %>
        </span>
      <% end %>

      <div class="mt-1">
        <%= f.radio_button :drink_name, "other" %>
        <%= f.label :drink_name, "#その他" %>
        <%= f.select :other_drink_name, options_from_collection_for_select(Drink.not_default, :id, :drink_name) %>
      <!--other_drink_nameのはnot_default、つまりadminでdrink_name登録式を採用している方-->
      </div>


      <%= f.label :ショップ選択, class:"mt-4" %>
      <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :address_display), { include_blank: '選択してください' } %><br>    <!--addressメソッドはshop.rbで定義-->

      <%= f.submit class:"mt-4 btn btn-secondary" %>
    <% end %>
