<div class="container mt-4">
  <div class="col-md-6 mx-auto">
    <h5>パンの編集</h5>

    <!--後々部分テンプレートにする??-->

    <%= form_with model: @bread, url: bread_path do |f| %>
      <%= f.label :パン写真 %>
      <%= f.file_field :bread_image, placeholder: "画像を選択" %><br>
      <%= f.label :パン名 %>
      <%= f.text_field :bread_name, class: 'form-control' %><br>
      <%= f.label :紹介 %>
      <%= f.text_area :introduce, rows: 5, class: 'form-control', placeholder: "味や感想を教えて！" %>

      <%= f.radio_button :taste, 'sweet' %>
      <%= f.label :甘い系 %>
      <%= f.radio_button :taste, "solty" %>
      <%= f.label :塩味系 %><br>

      <%= f.label :一緒に飲むなら？, class:"mt-2" %><br>

      <div class="btn">
        <%= f.radio_button :drink_name, 1 %>
        <i class="fa-solid fa-mug-saucer" style="color: #240a0a;"></i>
        <%= f.label :drink_name, "コーヒー" %>
      </div>

      <div class="btn">
        <%= f.radio_button :drink_name, 2 %>
        <i class="fa-solid fa-mug-saucer" style="color: #d70f0f;"></i>
        <%= f.label :drink_name, "紅茶" %>
      </div>

      <div class="btn">
        <%= f.radio_button :drink_name, 3 %>
        <i class="fa-solid fa-mug-saucer" style="color: #3fabd9;"></i>
        <%= f.label :drink_name, "牛乳" %>
      </div>

      <div class="btn">
        <%= f.radio_button :drink_name, 4 %>
        <i class="fa-solid fa-mug-saucer" style="color: #239c21;"></i>
        <%= f.label :drink_name, "お茶" %>
      </div>

      <div class="btn">
        <%= f.radio_button :drink_name, 5 %>
        <i class="fa-solid fa-mug-saucer" style="color: #f9f110;"></i>
        <%= f.label :drink_name, "その他" %>
      </div>
      <%= f.select :drink_name, options_from_collection_for_select(Drink.all, :id, :drink_name) %><br>


      <%= f.label :購入店名選択, class:"mt-4" %>
      <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :address_display)%><br>    <!--addressメソッドはshop.rbで定義-->

      <%= f.submit "更新する", class:"mt-4 btn btn-secondary" %>
    <% end %>


  </div>
</div>