<div class="container mt-5">
  <div class="col-md-6 mx-auto">
    <h5>パンの編集</h5>

    <!--後々部分テンプレートにする??-->

    <%= form_with model: @bread, url: bread_path do |f| %>
      <%= f.label :パン写真, class:"mt-3" %><br>
      <%= f.file_field :bread_image %><br>
      <%= f.label :パン名, class:"mt-3" %><br>
      <%= f.text_field :bread, cols: 20 %><br>

      <%= f.radio_button :taste, 'sweet', class:"mt-3" %>
      <%= f.label :Sweet %>
      <%= f.radio_button :taste, "solty", class:"mt-3" %>
      <%= f.label :Solty %><br>

      <%= f.label :紹介, class:"mt-3" %>
      <%= f.text_area :introduce, rows: 6, class: 'form-control' %>

      <div class="mt-3">
      <%= f.label :お供にするなら? %><br>
      <%= f.collection_radio_buttons(:drink_id, Drink.all, :id, :drink_name) do |b| %>
        <%= b.label { b.radio_button + b.text } %>
      <% end %>
      </div>

      <%= f.label :購入店舗, class:"mt-3" %><br>
      <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :address_display)%><br>    <!--addressメソッドはshop.rbで定義-->


      <%= f.submit "編集する", class:"mt-4 btn btn-secondary" %>
    <% end %>


  </div>
</div>