<!--ドリンク別のおすすめパン、homes/topより遷移-->
<div class="container pt-5">
  <div class="mx-auto">
    <div class="row">

      <div class="col-9">
        <h5 class="mb-4 ml-2"><%= @drink.drink_name %>におすすめのパン</h5>
        <ul class="row ml-3 bread_list" style="list-style: none;">
          <% @breads.each do |bread| %>
            <li class="mr-1" style="max-width: 150px;">
              <div>
                <%= link_to bread_path(bread.id), class:"text-dark" do %>
                  <%= image_tag bread.get_bread_image(150, 150) %><br>
                  <%= bread.bread_name %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="d-flex justify-content-center pt-3">
      <%= paginate @breads, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>


