<div class="container mt-4">
  <div class="col-md-6 mx-auto">
    <h3>投稿フォーム</h3>

      <%= form_with model: @bread, url: breads_path do |f| %>
      <%= f.label :パン写真 %>
      <%= f.file_field :bread_image, placeholder: "画像を選択" %><br>
      <%= f.label :パン名 %>
      <%= f.text_field :bread_name, class: 'form-control' %><br>
      <%= f.label :紹介 %>
      <%= f.text_area :introduce, rows: 5, class: 'form-control', placeholder: "味や感想を教えて！" %>

      <%= f.radio_button :taste, 'sweet' %>
      <%= f.label :甘い系 %>
      <%= f.radio_button :taste, "solty" %>
      <%= f.label :塩味系 %><br>

      <%= f.label :一緒に飲むなら？, class:"mt-2" %><br>
      <%#= f.collection_radio_buttons(:drink_id, Drink.all, :id, :drink_name) do |b| %>
        <%#= b.label { b.radio_button + b.text } %>
      <%# end %>

      <%= f.radio_button :drink_name, 1 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #240a0a;"></i>
        <%= f.label :drink_name, "coffee" %>
      </div>


      <%= f.radio_button :drink_name, 2 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #d70f0f;"></i>
        <%= f.label :drink_name, "tea" %>
      </div>

      <%= f.radio_button :drink_name, 3 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #3fabd9;"></i>
        <%= f.label :drink_name, "milk1" %>
      </div>

      <%= f.radio_button :drink_name, 4 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #f5f5f5;"></i>
        <%= f.label :drink_name, "milk2" %>
      </div>

      <%= f.radio_button :drink_name, 5 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #239c21;"></i>
        <%= f.label :drink_name, "tya" %>
      </div>

      <%= f.radio_button :drink_name, 6 %>
      <div class="btn">
        <i class="fa-solid fa-mug-saucer" style="color: #f9f110;"></i>
        <%= f.label :drink_name, "other" %>
      </div>
      <%= f.select :drink_name, options_from_collection_for_select(Drink.all, :id, :drink_name) %><br>


      <%= f.label :ショップ選択, class:"mt-4" %>
      <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :address_display)%><br>    <!--addressメソッドはshop.rbで定義-->

      <%= f.hidden_field :drink_name %>
      <%= f.submit "投稿する", class:"mt-3 btn btn-secondary" %>
    <% end %>

  </div>
</div>