<div class="container mt-5">
  <div class="col-md-6 mx-auto">
    <h3>投稿フォーム</h3>

    <%= form_with model: @bread, url: breads_path do |f| %>
      <%= f.label :パン写真 %>
      <%= f.file_field :bread_image, placeholder: "画像を選択" %><br>
      <%= f.label :パン名 %>
      <%= f.text_field :bread %><br>
      <%= f.label :紹介 %>
      <%= f.text_area :introduce, class: 'form-control', placeholder: "味や感想を教えて！" %>

      <%= f.radio_button :taste, 'sweet' %>
      <%= f.label :Sweet %>
      <%= f.radio_button :taste, "solty" %>
      <%= f.label :Solty %><br>

      <%= f.label :ドリンク %><br>
      <%= f.collection_radio_buttons(:drink_id, Drink.all, :id, :drink_name) do |b| %>
        <%= b.label { b.radio_button + b.text } %>
      <% end %>

      <%= f.label :ショップ選択 %>
      <%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :address_display)%>    <!--addressメソッドはshop.rbで定義-->


      <%= f.submit "投稿する" %>
    <% end %>

  </div>
</div>