<!--パンの検索結果を表示する-->
<div class="container mt-4">
  <div class="mx-auto">
    <div class="row">

    <%#= render 'layouts/side', bread: @bread, shops: @shops, topics: @topics, coffee: @coffee, tea: @tea, milk: @milk, tya: @tya %>
    <%= render 'layouts/side', bread: @bread, shops: @shops, topics: @topics, defaults: @defaults %>


    <div class="col-9">
      <h5 class="mb-4">"<%= @keyword %>" の検索結果 <%= @breads.count %>件</h5>
      <% if @keyword.present? %>
        <ul class="row" style="list-style: none; text-align: right;">
          <% @breads.each do |bread| %>
            <li class="mr-1">
              <div>
                <%= link_to bread_path(bread.id) do %>
                  <%= image_tag bread.get_bread_image(180, 180) %><br>
                <% end %>
                <%= bread.bread_name %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
      <p>該当のパンは見つかりませんでした</p>
      <% end %>
      
    </div>
  </div>
</div>
