<!--パンの検索結果を表示する-->
<div class="container pt-5">
  <div class="mx-auto">
    <div class="row">

      <div class="col-9">
        <h5 class="mb-4">"<%= @keyword %>" の検索結果 <%= @search_breads.count %>件</h5>
        <% if @keyword.present? %>
          <ul class="row ml-2" style="list-style: none;">
            <% @search_breads.each do |bread| %>
              <li class="mr-1">
                <div>
                  <%= link_to bread_path(bread.id) do %>
                    <%= image_tag bread.get_bread_image(180, 180) %><br>
                  <% end %>
                  <%= bread.bread_name %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

    </div>

    <div class="d-flex justify-content-center pt-3">
      <%= paginate @search_breads, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>
