<div class="container mt-5">

  <div class="row">
    <div class="col-md-3">
    <%= image_tag @bread.get_bread_image(200, 200) %>
    </div>

    <div class="col-md-6">
      <%= @bread.bread %><br>
      <%= @bread.introduce %><br>
      <%= @bread.drink.drink_name %><br>
      <%= @bread.shop.address_display %><br>
      <%= @bread.created_at.strftime("%Y/%m/%d") %><br>

      <%= link_to "編集", edit_bread_path(@bread.id), class:"mt-3 btn btn-outline-secondary" %>
      <%= link_to "削除", bread_path(@bread.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"mt-3 btn btn-outline-secondary" %>
    </div>

  </div>
</div>