<div class="container pt-4">

  <!--<div class="text-success">-->
    <%#= flash[:notice] %>
  <!--</div>-->

  <% if @user != current_user %>  <!--他ユーザの投稿詳細ページならユーザリンクを表示-->
    <div class="row mb-3">

      <div class="col-1">
        <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_user_image(80, 80) %>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to user_path(@user.id) do %>
          <p><%= @user.name %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <%= image_tag @bread.get_bread_image(400, 400) %>
    </div>

    <div class="col-md-7">
      <h5><%= @bread.bread_name %></h5>
      <p style="height: 160px;"><%= @bread.introduce %></p>

      <table>
        </tr>
          <td class="pb-2">ジャンル</td>
          <td class="pl-2 pb-2">
            <% if @bread.taste %>    <!--trueは甘、falseは塩-->
              甘い系
            <% else %>
              塩味系
            <% end %>
          </td>
        </tr>
        </tr>
          <td class="py-2">一緒に飲むなら？</td>
          <td class="pl-2">#<%= @bread.drink.drink_name %></td>
        </tr>
        <tr>
          <td>購入店名</td>
          <%#= @bread.shop.address_display %>
          <td class="pl-2">
            〒<%= @bread.shop.postcode %>　<%= @bread.shop.address %><br>
            <%= @bread.shop.shop_name %>
          </td>
        </tr>
        <tr>
          <td class="py-2">投稿日</td>
          <td class="pl-2"><%= @bread.created_at.strftime("%Y/%m/%d") %></td>
        </tr>

        <!--投稿5分経過後に更新された場合、更新日時を表示する-->
        <% if @bread.updated_at - @bread.created_at > 5.minutes %>
          <tr style="color: gray;">
            <td class="py-2">(最終更新</td>
            <td><%= @bread.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>)</td>    <!--東京時間のhour/minutesまで表示-->
          </tr>
        <% end %>
      </table>

      <!--いいね機能非同期化→favorites/_favorite-btn.html.erb-->
      <span id="favorite-btn_<%= @bread.id %>">
        <%= render 'user/favorites/favorite-btn', bread: @bread %>
      </span>

      <span class="ml-3"><i class="far fa-comment-dots fa-flip-horizontal"></i> <%= @bread.comments.count %></span>


      <% if @bread.user == current_user %>
        <%= link_to "編集", edit_bread_path(@bread.id), class:"mt-3 ml-5 btn btn-outline-secondary" %>
        <%= link_to "削除", bread_path(@bread.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"mt-3 btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-8 mt-3">
      <% if @bread.comments.exists? %>

      <!--コメント一覧非同期化-->
        <div id="comment-index">
          <%= render 'user/breads/comment-index', bread: @bread  %>
        </div>
      <% else %>
         <span>コメントを書く</span>
      <% end %>

      <!--コメントフォーム非同期化-->
      <div id="comment-form">
        <%= render 'user/breads/comment-form', bread: @bread, comment: @comment %>
      </div>

    </div>
  </div>


</div>