<div class="container mt-5">
  <div class="col-md-6 mx-auto">
    <h3>プロフィール編集</h3>

    <%= form_with model: @user, url: users_mypage_edit_path, method: :patch do |f| %>
      <%= f.file_field :user_image %>
      <%= f.label :ユーザーネーム %><br>
      <%= f.text_field :name %><br>
      <%= f.label :自己紹介 %><br>
      <%= f.text_area :user_info %><br>
      <%= f.submit "保存" %>
    <% end %>

  </div>
</div>