<div class="main-theme container py-5">

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @user.get_user_image(200, 200), class:"rounded-circle" %>
    </div>
    <div class="col-md-6 mt-4">
      <h5><%= @user.name %></h5>
      <% if @user == current_user && @user.name != "ゲスト" %>  <!--ゲストでないログインユーザの場合-->
        <%= @user.email %><br>
      <% end %>
      <%= @user.user_info %><br>
      <div class="mt-3">
        <% if @user == current_user && @user.name != "ゲスト" %>
          <%= link_to "プロフィールの編集", users_mypage_edit_path, class:"text-secondary" %> |
          <%= link_to "アカウント情報の編集", edit_user_registration_path, class:"text-secondary" %><br>
        <% end %>
      </div>
      <% if @user == current_user %>
        <%= link_to favorites_index_path, class:"mt-3 btn btn-sm btn-outline-danger" do  %>
          <i class="fas fa-heart"></i>
        <% end %>
       <% end %>
    </div>
  </div>

  <div class="row ml-1">
    <h5 class="mt-1 mb-3"><%= @user.breads.count %> posts</h5>
  </div>
  <div>
    <ul class="row mx-auto">
      <% @breads.each do |bread| %>
        <li class="mr-1 sentence" style="max-width: 150px;">
          <%= link_to bread_path(bread.id) do %>
            <div><%= image_tag bread.get_bread_image(150, 150) %></div>
            <p class="text-dark"><%= bread.bread_name %></p>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="d-flex justify-content-center">
      <%= paginate @breads, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>

</div>