<div class="container pt-5" id="user_homes_top">
  <div class="mx-auto">

    <div class="row">

      <%#= render 'layouts/side', bread: @bread, shops: @shops, topics: @topics, default_drinks: @default_drinks %>

      <!--app/assets/stylesheets/user/homes.scss併用-->
      <div class="wrap top-page">
        <ul id="tab-menu">
          <li><a href="#tab1" id="tab1-list" class="active">ALL</a></li>
          <li><a href="#tab2" id="tab2-list" class="">SWEET</a></li>
          <li><a href="#tab3" id="tab3-list" class="">SALT</a></li>
          <li><a href="#tab4" id="tab4-list" class="">いいね順</a></li>
        </ul>

        <div id="tab-contents">
          <div id="tab1" class="tab">    <!---タブ1 ALL-->
            <div class="scroll-list jscroll bread_list">
              <ul class="row ml-4" style="">
                <% if @breads.exists? %>
                  <% @breads.each do |bread| %>
                    <li class="mr-1" style="max-width: 180px;">
                      <div>
                        <%= link_to bread_path(bread.id) do %>
                          <%= image_tag bread.get_bread_image(180, 180) %><br>
                        <% end %>
                        <%= bread.bread_name %>
                      </div>
                    </li>


                <% end %>
                <% end %>
              </ul>
              <div class="tab1" style="display: none;">
                <%= paginate @breads %>
              </div>
            </div>
          </div>

          <div id="tab2" class="tab">    <!--タブ2　SWEET-->
          <div class="scroll-list_2 jscroll_2 bread_list">
            <ul class="row ml-4">
              <% if @sweet_breads.exists? %>
                <% @sweet_breads.each do |sweet_bread| %>
                  <!--<li class="mr-1">-->
                  <li class="mr-1" style="max-width: 180px;">
                    <div>
                      <%= link_to bread_path(sweet_bread.id) do %>
                        <%= image_tag sweet_bread.get_bread_image(180, 180) %><br>
                      <% end %>
                      <%= sweet_bread.bread_name %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="tab2" style="display: none;">
              <%= paginate @sweet_breads %>
            </div>
          </div>
          </div>

          <div id="tab3" class="tab">    <!--タブ3　SALTY-->
          <div class="scroll-list_3 jscroll_3 bread_list">
            <ul class="row ml-4">
              <% if @salty_breads.exists? %>
                <% @salty_breads.each do |salty_bread| %>
                  <!--<li class="mr-1">-->
                  <li class="mr-1" style="max-width: 180px;">
                    <div>
                      <%= link_to bread_path(salty_bread.id) do %>
                        <%= image_tag salty_bread.get_bread_image(180, 180) %><br>
                      <% end %>
                      <%= salty_bread.bread_name %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="tab3" style="display: none;">
               <%= paginate @salty_breads %>
            </div>
            </div>
          </div>

          <div id="tab4" class="tab">    <!--タブ4 いいねが多い順-->
          <div class="scroll-list_4 jscroll_4 bread_list">
            <ul class="row ml-4">
              <%# byebug %>
              <% if @favorite_breads.size != 0 %>
                <% @favorite_breads.each do |favorite_bread| %>
                  <!--<li class="mr-1">-->
                  <li class="mr-1" style="max-width: 180px;">
                    <div>
                      <%= link_to bread_path(favorite_bread.id) do %>
                        <%= image_tag favorite_bread.get_bread_image(180, 180) %><br>
                      <% end %>
                      <%= favorite_bread.bread_name %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
            <div class="tab4" style="display: none;">
            <%= paginate @favorite_breads %>
            </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>