<div class="container mt-4">
  <div class="mx-auto">
    <div class="row">

      <div class="col-3">
        <h5>探す</h5>
        <p>ジャンル</p>
        <p>ランキング</p>
        <h5>ONLINE SHOP</h5>
          <%#=  %>

        <div class="border p-3">
        <h5>特集</h5>
        <% @topics.each do |topic| %>
          <%= link_to admin_topic_path(topic.id) do %>
          <ul>
            <li style="color: black;"><%= topic.title %></li>
            <li style="color: gray; font-size: 12px; list-style: none;">(<%= topic.created_at.strftime('%Y/%m/%d') %>)</li>
          </ul>
          <% end %>
        <% end %>
        </div>
      </div>

    <!--<div class="row">-->
      <div class="col-9">
        <ul class="row" style="list-style: none; text-align: right;">
          <% @breads.each do |bread| %>
            <li class="mr-1">
              <div>
              <%= link_to bread_path(bread.id) do %>
                <%= image_tag bread.get_bread_image(180, 180) %><br>
              <% end %>
              <%= bread.bread_name %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    </div>
  </div>
</div>