<div class="container mt-4">
  <div class="mx-auto">
    <div class="row">

      <div class="col-3">
        <div class="border p-3" >
        <h5>探す</h5>
        <p>おすすめドリンクから探す</p>
     　  <span class="btn">
     　    <!--drink_idに":"をつけることでどのdrink_nameを参照するか区別できる-->
     　    <%= link_to breads_path(drink_id: @coffee.id), method: :get  do %>
     　       <i class="fa-solid fa-mug-saucer" style="color: #240a0a;"></i>コーヒー<br>
     　    <% end %>
       　  <%= link_to breads_path(drink_id: @tea.id), method: :get do %>
       　     <i class="fa-solid fa-mug-saucer" style="color: #d70f0f;"></i>紅茶<br>
       　  <% end %>
     　    <%= link_to breads_path(drink_id: @milk.id), method: :get do %>
     　   　　  <i class="fa-solid fa-mug-saucer" style="color: #3fabd9;"></i>牛乳<br>
     　    <% end %>
     　    <%= link_to breads_path(drink_id: @tya.id), method: :get do %>
     　   　   <i class="fa-solid fa-mug-saucer" style="color: #239c21;"></i>お茶<br>
     　    <% end %>
          <%= form_with model: @bread, url:breads_path, method: :get do |f| %>
            <i class="fa-solid fa-mug-saucer" style="color: #f9f110;"></i>
            <%= f.select :drink_id, options_from_collection_for_select(Drink.not_default.order(id: :desc), :id, :drink_name) %>
            <%= f.submit "探す" %>
          <% end %>
        </span>
        <p>人気パン(いいねが多い順)</p>
      </div>

      <div class="border p-3 mt-3">
        <h5>ONLINE SHOP</h5>
        <ul>
          <% @shops.each do |shop| %>
            <% if shop.online_url.present? %>    <!--online_shopがある店名のみ表示-->
              <li style="list-style: none;">
                <%= link_to shop_path(shop.id) do %>
                  <%= shop.shop_name %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="border p-3 mt-3">
        <h5>特集</h5>
        <% @topics.each do |topic| %>
          <%= link_to admin_topic_path(topic.id) do %>
          <ul>
            <li style="color: black;"><%= topic.title %></li>
            <li style="color: gray; font-size: 12px; list-style: none;">(<%= topic.created_at.strftime('%Y/%m/%d') %>)</li>
          </ul>
          <% end %>
        <% end %>
        </div>
      </div>


    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">ALL</a></li>
        <li><a href="#tab2" class="">SWEET</a></li>
        <li><a href="#tab3" class="">SOLT</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <div class="col-9">
            <ul class="row" style="list-style: none; text-align: right;">
              <% @breads.each do |bread| %>
                <li class="mr-1">
                  <div>
                    <%= link_to bread_path(bread.id) do %>
                      <%= image_tag bread.get_bread_image(180, 180) %><br>
                    <% end %>
                    <%= bread.bread_name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div id="tab2" class="tab">
          <div class="col-9">
            <ul class="row" style="list-style: none; text-align: right;">
              <% @sweet_breads.each do |sweet_bread| %>
                <li class="mr-1">
                  <div>
                    <%= link_to bread_path(sweet_bread.id) do %>
                      <%= image_tag sweet_bread.get_bread_image(180, 180) %><br>
                    <% end %>
                    <%= sweet_bread.bread_name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>

        </div>

        <div id="tab3" class="tab">
          <div class="col-9">
            <ul class="row" style="list-style: none; text-align: right;">
              <% @solty_breads.each do |solty_bread| %>
                <li class="mr-1">
                  <div>
                    <%= link_to bread_path(solty_bread.id) do %>
                      <%= image_tag solty_bread.get_bread_image(180, 180) %><br>
                    <% end %>
                    <%= solty_bread.bread_name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/script.js"></script>

    </div>
  </div>
</div>