<div class="main-theme container py-5">
  <div class="col-md-8 mx-auto">
    <h5>特集一覧</h5>

    <% @topics.each do |topic| %>
      <% if topic.is_published == true %>
        <div class="row mt-3 p-3" style="background-color: white;">
          <div class="col-md-6">
            <%= link_to topic_path(topic.id) do %>
              <h4 class="text-dark"><%= topic.title %></h4>
              <p class="text-dark"><small><%= topic.created_at.strftime('%Y/%m/%d') %></small></p>
              <p class="text-dark" style="overflow: hidden; text-overflow: ellipsis; max-width: 300px; max-height: 100px">
                <%= truncate(topic.body, length: 50) %>
              </p>
              <p>続きを読む ＞</p>
            <% end %>
          </div>
          <div class="col-md-6 mt-1">
            <%= image_tag topic.get_bread_image(300, 200), class:"ml-3" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="d-flex justify-content-center pt-3">
    <%= paginate @topics, theme: 'twitter-bootstrap-4' %>
  </div>

</div>