<div class="container py-5" style="background-color: #fff7e6">

  <div class="row mt-3">
    <h5 class="ml-3">新着投稿一覧</h5>
    <ul class="row col-md-12 mx-auto" style="list-style: none;">
      <% @breads.each do |bread| %>
        <li class="mr-1 mb-3" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;">
          <%= link_to admin_bread_path(bread.id) do %>
            <div><%= image_tag bread.get_bread_image(100, 100) %></div>
            <p class="text-dark">
              <%= bread.bread_name %><br>
              <span><small><%= bread.updated_at.strftime('%Y/%m/%d') %></small></span>    <!--最終更新日-->
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>


  <div class="d-flex justify-content-center pb-3">
    <%= paginate @breads, theme: 'twitter-bootstrap-4' %>
  </div>

</div>