<div class="container py-5" style="background-color: #fff7e6">

    <div class="row">
      <div class="col-md-12">
        <h5 class="mb-4">"<%= @keyword %>" の検索結果 <%= @search_breads.count %>件</h5>
        <% if @keyword.present? %>
          <ul class="row ml-2" style="list-style: none;">
            <% @search_breads.each do |bread| %>
              <li class="mr-1" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px;">
                <div>
                  <%= link_to admin_bread_path(bread.id) do %>
                    <%= image_tag bread.get_bread_image(100, 100) %><br>
                  <% end %>
                  <%= bread.bread_name %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center pb-3">
      <%= paginate @search_breads, theme: 'twitter-bootstrap-4' %>
    </div>

</div>