<!--user/breads/show.html.erbと部分テンプレートを検討-->
<div class="container py-5" style="background-color: #fff7e6">

 <div class="row">
    <div class="col-md-5">
      <%= image_tag @bread.get_bread_image(400, 400) %>
    </div>

    <div class="col-md-7">
      <h5><%= @bread.bread_name %></h5>
      <p style="height: 160px;"><%= @bread.introduce %></p>

      <dl class="row">
        <dd class="col-sm-3">ジャンル：</dd>
        <dd class="col-sm-9">
          <% if @bread.taste %>    <!--trueは甘、falseは塩-->
            甘い系
          <% else %>
            塩味系
          <% end %>
        </dd>

        <dd class="col-sm-3">パンのお供：</dd>
        <dd class="col-sm-9">
          <p># <%= @bread.drink.drink_name %></p>
        </dd>

        <dd class="col-sm-3">購入店：</dd>
        <dd class="col-sm-9">
          <% if @bread.shop %>
            <span>〒<%= @bread.shop.postcode %>　<%= @bread.shop.address %></span><br>
            <span><%= @bread.shop.shop_name %></span>
          <% end %>
        </dd>

        <dd class="col-sm-3 text-truncate">投稿日：</dd>
        <dd class="col-sm-9">
          <%= @bread.created_at.strftime("%Y/%m/%d") %>
          <% if @bread.updated_at - @bread.created_at > 5.minutes %>
            <p class="py-2 text-secondary"><small>(最終更新 <%= @bread.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>)</small></p>    <!--東京時間のhour/minutesまで表示-->
          <% end %>
        </dd>
      </dl>


        <% if @bread.favorite_by?(current_user) %>
          <span class="mt-3">
            <i class="fas fa-heart" style="color: #e40101;"></i> <%= @bread.favorites.count %>
          </span>
        <% else %>
          <span class="mt-3">
            <i class="far fa-heart" style="color: #e40101;"></i> <%= @bread.favorites.count %>
          </span>
        <% end %>

        <span class="ml-3"><i class="far fa-comment-dots fa-flip-horizontal"></i> <%= @bread.comments.count %></span>

        <span><%= link_to "ユーザー詳細", admin_user_path(@user.id), class:"ml-3 btn btn-sm btn-outline-primary" %></span>
        <%= link_to admin_bread_path(@bread.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm ml-3" do %>
          <span><%= @user.name %>さんのこの投稿を削除する</span>
        <% end %>
    </div>

    <div class="row ml-4 mt-3">
      <div>
        <% if @bread.comments.exists? %>
          <% @bread.comments.each do |comment| %>
            <div class="my-2">
              <div class="row">
                <div class="col-auto">
                  <%= image_tag comment.user.get_user_image(40, 40), class:"rounded-circle" %>
                </div>
                <div class="col-7">
                  <span style="font-size: 13px;" class="mr-1"><%= comment.user.name %></span>
                  <span style="font-size: 8px; color: gray;"><%= comment.created_at.strftime("%Y/%m/%d") %></span>
                  <div><%= comment.comment %></div>
                  <span>
                    <%= link_to "削除", admin_bread_comment_path(comment.bread_id, comment.id), method: :delete, style:"font-size: 8px; color: gray;" %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div>コメントはありません</div>
        <% end %>
      </div>
    </div>

  </div>
</div>