<!--user/breads/show.html.erbと部分テンプレートを検討-->

<div class="container mt-5">

 <div class="row">
    <div class="col-md-5">
      <%= image_tag @bread.get_bread_image(400, 400) %>
    </div>

    <div class="col-md-7">
      <h5><%= @bread.bread_name %></h5>
      <p><%= @bread.introduce %></p>

      <table>
        </tr>
          <td class="py-2">ジャンル</td>
          <td>
            <% if @bread.taste %>
              甘い系
            <% else %>
              塩味系
            <% end %>
          </td>
        </tr>
        </tr>
          <td class="py-2">一緒に飲むなら？</td>
          <td><%= @bread.drink.drink_name %></td>
        </tr>
        <tr>
          <td class="py-2">購入店名</td>
          <td><%= @bread.shop.address_display %></td>
        </tr>
        <tr>
          <td class="py-2">投稿日</td>
          <td><%= @bread.created_at.strftime("%Y/%m/%d") %></td>
        </tr>

        <!--投稿5分経過後に更新された場合、更新日時を表示する-->
        <% if @bread.updated_at - @bread.created_at > 5.minutes %>
          <tr style="color: gray;">
            <td class="py-2">(最終更新</td>
            <td><%= @bread.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>)</td>    <!--東京時間のhour/minutesまで表示-->
          </tr>
        <% end %>
      </table>


        <% if @bread.favorite_by?(current_user) %>
          <span class="mt-3">
            <i class="fa-solid fa-heart" style="color: #e40101;"></i> <%= @bread.favorites.count %>
          </span>
        <% else %>
          <span class="mt-3">
            <i class="fa-regular fa-heart" style="color: #e40101;"></i> <%= @bread.favorites.count %>
          </span>
        <% end %>

        <span class="ml-3"><i class="far fa-comment-dots fa-flip-horizontal"></i> <%= @bread.comments.count %></span>

        <span><%= link_to "ユーザー詳細", admin_user_path(@user.id), class:"mt-5 ml-3 btn btn-sm btn-outline-primary" %></span>
        <%= link_to admin_bread_path(@bread.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger btn-sm mt-5 ml-3" do %>
          <span><%= @user.name %>さんのこの投稿を削除する</span>
        <% end %>
    </div>

    <div class="row">
      <div class="col-8 mt-3">
        <% if @bread.comments.exists? %>
          <% @bread.comments.each do |comment| %>
            <%= image_tag comment.user.get_user_image(50, 50) %>
            <%= comment.user.name %>
            <span style="font-size: 3px; color: gray;">
              <%= comment.created_at.strftime("%Y/%m/%d") %>
            </span>
            <%= comment.comment %>
            <%# if comment.user == current_user %>
              <%= link_to "削除", admin_bread_comment_path(comment.bread_id, comment.id), method: :delete, class:"btn btn-sm btn-outline-secondary" %><br>
            <%# end %>
          <% end %>
        <% else %>
          <p>コメントはありません</p>
        <% end %>
      </div>
    </div>

  </div>
</div>