<div class="main-theme container py-5">
  <div class="col-md-12 mx-auto">

    <h5>ユーザー一覧</h5>

    <table class="table mt-4">
      <tr>
        <th>ID</th>
        <th>ユーザー</th>
        <th class="admin-user_email">Email</th>
        <th>投稿数</th>
        <th>ステータス</th>
      </tr>

        <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="admin-user_email"><%= user.email %></td>
        <td><%= user.breads.count %></td>
        <td>
          <% if user.is_delete == false %>
            <div class="text-success">有効</div>
          <% else %>
            <div class="text-danger">退会</div>
          <% end %>
        </td>
      </tr>
        <% end %>
    </table>

    <div class="d-flex justify-content-center">
      <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </div>

  </div>
</div>