<div class="container mt-5 mx-auto">
  <div class="col-md-12s mx-auto">

    <h5>ユーザー一覧</h5>

    <table class="table">
      <tr>
        <td>ID</td>
        <td>ニックネーム</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
      <tr>
        <%= @users.each do |user| %>
        <td><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_delete == false %>
           有効
          <% else %>
           退会
          <% end %>
        </td>
        <% end %>
      </tr>
    </table>



  </div>
</div>