<div class="container mt-4 mx-auto">

  <div class="row col-md-8">
    <h5 class="mr-5"><%= @user.name %>さんのユーザー詳細 </h5>
    <%= link_to "ユーザー一覧に戻る", admin_users_path, class:"btn btn-outline-primary btn-sm" %>
  </div>

  <div class="row">
    <div class="col-md-8 mt-4">
      <table>
        <tr>
          <td class="py-3 mr-5">会員ID</td>
          <td class="pl-4"><%= @user.id %></td>
        </tr>
        <tr>
          <td class="py-3">ニックネーム</td>
          <td class="pl-4"><%= @user.name %></td>
        </tr>
        <tr>
          <td class="py-3">メールアドレス</td>
          <td class="pl-4"><%= @user.email %></td>
        </tr>
        <tr>
          <td class="py-3">現在のステータス</td>
          <td>
            <% if @user.is_delete == false %>
              <div class="text-success pl-4">
                有効
              </div>
            <% else %>
              <div class="text-danger pl-4">
                退会
              </div>
            <% end %>
          </td>
        </tr>


        <%= form_with model: @user, url:admin_user_path, method: :patch do |f| %>
          <tr>
            <td class="py-3">会員ステータス</td>
            <td>
              <% if @user.is_delete == false %>
                <%= f.radio_button :is_delete, :false, checked: true, class:"ml-4" %>
                 有効
                <%= f.radio_button :is_delete, :true, class:'ml-4' %>
                 退会
              <% else %>
                <%= f.radio_button :is_delete, :false, class:"ml-4" %>
                 有効
                <%= f.radio_button :is_delete, :true, checked: true, class:"ml-4" %>
                 退会
              <% end %>
            </td>
            <td><%= f.submit 'ステータスを変更する', "data-confirm" => "ステータスを変更します", class: 'btn btn-danger btn-sm' %></td>
            </tr>
        <% end %>
      </table>


  <h5 class="mt-5"><%= @user.name %>さんの投稿一覧</h5>
  <table>
    <% if @breads.exists? %>
      <% @breads.each do |bread| %>
        <td>
          <%= link_to admin_bread_path(bread.id) do %>
            <%= image_tag bread.get_bread_image(100, 100), class:"mr-3" %><br>
          <% end %>
          <%= bread.bread %>
        </td>
      <% end %>
    <% else %>
      <p>投稿はありません</p>
    <% end %>
  </table>

</div>