<!--homes/top, user/breads/index&earch で使用しているサイドバー-->

<div class="col-3">
  <div class="border p-3" >
  <h5>ドリンクから探す</h5>
  <ul>
    <% @defaults.each do |default| %>
      <li class="px-1 my-1" >
        <%= link_to breads_path(drink_id: default.id), method: :get do %>
          <div class="my-2" style="color: black;"><%= default.drink_name %></div>
        <% end %>
      </li>
    <% end %>

    <div class="mt-4">
    <%= form_with model: @bread, url:breads_path, method: :get do |f| %>
      <i class="fa-solid fa-mug-saucer" style="font-size: 30px; color: #f9f110;"></i>
      <%= f.submit "探す", class:"mb-2 ml-3 btn btn-sm btn-secondary" %>
      <%= f.select :drink_id, options_from_collection_for_select(Drink.not_default.order(id: :desc), :id, :drink_name) %>
    <% end %>
    </div>
  </ul>
</div>

<div class="border p-3 mt-3">
  <h5>ONLINE SHOP</h5>
  <ul>
    <% @shops.each do |shop| %>
      <% if shop.online_url.present? %>    <!--online_shopがある店名のみ表示-->
        <li style="list-style: none;">
          <%= link_to shop_path(shop.id) do %>
            <%= shop.shop_name %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <%= link_to "もっとみる>", shops_onlines_path %>
  </ul>
</div>

<div class="border p-3 mt-3">
  <h5>特集</h5>
  <% @topics.each do |topic| %>
    <%= link_to topic_path(topic.id) do %>
    <ul>
      <li style="color: black;"><%= topic.title %></li>
      <li style="color: gray; font-size: 12px; list-style: none;">(<%= topic.created_at.strftime('%Y/%m/%d') %>)</li>
    </ul>
    <% end %>
  <% end %>
  <%= link_to "もっとみる>", topics_path %>
  </div>
</div>