<!DOCTYPE html>
<html>
  <head>
    <title>KyotoBread</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <header style="background-color: white;", class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light" style="display: inline;">

      <div class="container">

   <nav class="navbar navbar-light" style="display: inline;">
          <button style="display: block;" class="navbar-toggler search" type="button" data-toggle="offcanvas" data-target="#navbar-search" aria-controls="navbar-search" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-icon"><i class="fas fa-search"></i></span>
          </button>

          <div class="row offcanvas navbar-offcanvas" id="navbar-search" style="display:none;">
            <div class="navbar-nav mr-auto">
              <% unless current_admin %>
                <%= render 'layouts/user-header' %>
              <% else %>    <!--admin側のパン検索窓-->
                <%= form_with url: search_admin_breads_path, local: true, method: :get do |f| %>
                  <%= f.text_field :keyword, class: "form-control ml-2", placeholder: "パンを検索" %>
                  <%= f.submit style:"display: none;" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </nav>


     <!--KyotoBreadロゴ-->
        <% unless current_admin %>
          <a id="navbar-logo" class="mx-auto" href="/"><%= image_tag 'logo_image300.jpg', size: "150x27" %></a>
        <% else %>
          <a id="navbar-logo" class="mx-auto" href="/admin"><%= image_tag 'logo_image300.jpg', size: "150x27" %></a>
        <% end %>
        <!--<nav class="navbar navbar-expand-lg navbar-light" style="display: inline;">-->
          <button class="mr-3 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-icon"><i class="fas fa-bars"></i></span>
          </button>
          <div class="row collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto pr-5 mr-2">
              <% if user_signed_in? %>
              <!--会員がログインしている場合-->
                <li>
                  <%= link_to user_path(current_user), class:"nav-link text-dark" do %>
                    <% if current_user.name == 'ゲスト' %>
                      <i class="fas fa-user"></i> Guest
                    <% else %>
                      <i class="fas fa-user"></i> Mypage
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_bread_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-plus"></i> New Post
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-users"></i> Users
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-dark" do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% elsif  admin_signed_in? %>
              <!--管理者がログインしている場合-->
                <li>
                 <%= link_to admin_root_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                   <i class="fas fa-star"></i> 管理者トップ
                 <% end %>
                </li>
                <li>
                  <%= link_to admin_users_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-user-circle"></i> ユーザー
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_shops_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-store"></i> ショップ
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_topics_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-folder-open"></i> 特集
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_drinks_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-coffee"></i> ドリンク
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path,method: :delete, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% else %>
              <!--ログインしていない状態-->
                <li>
                  <%= link_to user_guest_sign_in_path, method: :post, class:"nav-link text-dark" do %>
                    <i class="fas fa-user"></i> Guest Log in
                  <% end %>
                </li>
                <li>
                  <%= link_to homes_about_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-star"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main style="background-color: #ffeecc;", class="mt-5">
      <%= yield %>
    </main>

    <footer>
      <div class="container my-4">
        <div class="row">
          <div class="mx-auto text-center">
            <% unless current_admin %>
              <span><%= link_to "ご意見箱", new_feedback_path, class:"text-secondary", style:"font-size: 12px;" %> | </span>
            <% end %>
            <span><%= link_to "ABOUT", homes_about_path, class:"text-secondary", style:"font-size: 12px;" %></span>
            <p class="mt-1">copyright_KyotoBread</p>
          </div>
        </div>
      </div>
    </footer>


<script>
  $(document).ready(function() {
    $(".search").click(function() {
      $("#navbar-search").toggle();
      $("#navbar-logo").toggle();

      if ( $("#navbarNavDropdown").css('display') == 'flex' ){
        $("#navbarNavDropdown").css({'cssText': 'display: none !important'});
      }
      else{
        $("#navbarNavDropdown").attr('style','');
      }
    });
  });
</script>

  </body>
</html>