<!DOCTYPE html>
<html>
  <head>
    <title>KyotoBread</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </head>

  <body>
    <header style="background-color: white;", class="fixed-top mb-5">
      <div class="container">
        <nav class="navbar navbar-light" style="display: inline;">
          <% unless current_admin %>
            <button class="navbar-toggler search" type="button" data-toggle="offcanvas" data-target="#navbar-search" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-icon"><i class="fas fa-search"></i></span>
            </button>
            <div class="row offcanvas navbar-offcanvas" id="navbar-search" style="display:none;">
              <div class="navbar-nav mr-auto">

                <%= form_with url: search_breads_path, local: true, method: :get do |f| %>
                  <%= f.text_field :keyword, class: "form-control my-2", placeholder: "パンを検索" %>
                  <%= f.submit style:"display: none;" %>
                <% end %>

                <div class="py-3 pl-3" style="background-color: #fff7e6;" >
                  <h5>ドリンクから探す</h5>
                  <ul class="ml-2" style="list-style: none;">
                    <% @default_drinks.each do |default_drink| %>
                      <li class="px-1 my-1" >
                        <%= link_to breads_path(drink_id: default_drink.id), method: :get do %>
                          <div class="my-2" style="color: black;"># <%= default_drink.drink_name %></div>
                        <% end %>
                      </li>
                    <% end %>
                    <p>------------------------</p>
                    <div class="mt-2">
                      <%= form_with model: @bread, url:breads_path, method: :get do |f| %>
                        <li>
                          <%= f.label :その他 %>
                          <%= f.submit "探す", class:"p-1 mb-2 ml-3 btn btn-sm btn-outline-secondary" %>
                        </li>
                        # <%= f.select :drink_id, options_from_collection_for_select(Drink.not_default.order(id: :desc), :id, :drink_name) %>
                      <% end %>
                    </div>
                  </ul>
                </div>

              <!--user-SHOP NAV-->
                <div class="p-3 mt-3" style="background-color: #fff7e6;">
                  <h5>エリアから探す</h5>
                    <%= form_with url: search_shops_path, local: true, method: :get do |f| %>
                      <%= f.text_field :keyword, class:"form-control", placeholder: "エリア/店名を検索" %>
                      <%= f.submit style:"display: none;" %>
                    <% end %>
                </div>

                <div class="p-3 mt-3" style="background-color: #fff7e6;">
                  <h5>
                    <i class="fas fa-store"></i> ショップ
                  </h5>
                  <% @shops.each_with_index do |shop, index| %>
                    <% if index < 3 %>
                      <ul class="ml-4">
                        <%= link_to shop_path(shop.id) do %>
                          <li class="text-dark"><%= shop.shop_name %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                  <% if @shops.count > 3 %>
                    <div class="text-right">
                      <%= link_to "もっとみる>", shops_path, class:"text-secondary" %>
                    </div>
                  <% end %>
                </div>

                <h5 class="p-3 mt-3 text-center" style="background-color: #fff7e6;">
                  <%= link_to "// ONLINE SHOP //", shops_onlines_path, class:"text-dark" %>
                </h5>

                <!--user-TOPIC NAV-->
                <div class="p-3 my-3" style="background-color: #fff7e6;">
                <h5>特集</h5>
                  <% @topics.each_with_index do |topic, index| %>
                    <% if topic.is_published == true %>
                      <% if index < 3 %>
                        <ul class="ml-4">
                          <%= link_to topic_path(topic.id) do %>
                            <li class="text-dark"><%= topic.title %></li>
                            <li style="color: gray; font-size: 12px; list-style: none;">(<%= topic.created_at.strftime('%Y/%m/%d') %>)</li>
                          <% end %>
                        </ul>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if @topics.count > 3 %>
                    <div class="text-right">
                      <%= link_to "もっとみる>", topics_path, class:"text-secondary" %>
                    </div>
                  <% end %>
                </div>
              <% else %>    <!--admin側のパン検索窓-->
                <%= form_with url: search_admin_breads_path, local: true, method: :get do |f| %>
                  <%= f.text_field :keyword, class: "form-control", placeholder: "パンを検索" %>
                  <%= f.submit style:"display: none;" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </nav>

        <a class="navbar-brand mx-auto" href="/"><%= image_tag 'logo_image300.jpg', size: "150x27" %></a>  <!--KyotoBreadロゴ-->

        <nav class="navbar navbar-expand-lg navbar-light" style="display: inline;">

          <button class="mr-3 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-icon"><i class="fas fa-bars"></i></span>
          </button>

          <div class="row collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto pr-5 mr-2">
              <% if user_signed_in? %>
              <!--会員がログインしている場合-->
                <li>
                  <%= link_to user_path(current_user), class:"nav-link text-dark" do %>
                    <% if current_user.name == 'ゲスト' %>
                      <i class="fas fa-user"></i> Guest
                    <% else %>
                      <i class="fas fa-user"></i> Mypage
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_bread_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-plus"></i> New Post
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-users"></i> Users
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"nav-link text-dark" do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% elsif  admin_signed_in? %>
              <!--管理者がログインしている場合-->
                <li>
                 <%= link_to admin_root_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                   <i class="fas fa-star"></i> 管理者トップ
                 <% end %>
                </li>
                <li>
                  <%= link_to admin_users_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-user-circle"></i> ユーザー
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_shops_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-store"></i> ショップ
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_topics_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-folder-open"></i> 特集
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_drinks_path, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-coffee"></i> ドリンク
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path,method: :delete, class:"nav-link text-dark", style:"font-size: 13px;" do %>
                    <i class="fas fa-sign-out-alt"></i> Log out
                  <% end %>
                </li>
              <% else %>
              <!--ログインしていない状態-->
                <li>
                  <%= link_to user_guest_sign_in_path, method: :post, class:"nav-link text-dark" do %>
                    <i class="fas fa-user"></i> Guest Log in
                  <% end %>
                </li>
                <li>
                  <%= link_to homes_about_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-bread-slice"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class:"nav-link text-dark" do %>
                    <i class="fas fa-sign-in-alt"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main style="background-color: #ffeecc;", class="mt-5">
      <%= yield %>
    </main>

    <footer>
      <div class="container my-4">
        <div class="row">
          <div class="mx-auto text-center">
            <span><%= link_to "ご意見箱", new_feedback_path, class:"text-secondary", style:"font-size: 12px;" %> | </span>
            <span><%= link_to "ABOUT", homes_about_path, class:"text-secondary", style:"font-size: 12px;" %></span>
            <p class="mt-1">copyright_KyotoBread</p>
          </div>
        </div>
      </div>
    </footer>


<script>
  $(document).ready(function() {
    $(".search").click(function() {
      $("#navbar-search").toggle();
    });
  });
</script>

  </body>
</html>